<%= simple_form_for (@timecapsule) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.submit "Create a timecapsule", class: "btn btn-primary rounded-pill" %>
    <div class="form-actions mt-4">
    </div>
  </div>
<% end %>

<%= link_to "Back", profile_path, class: "fw-bold text-" %>


<%# flex-box container wrapping the cards and the button %>
<%# timecapsules div class %>
