<%= simple_form_for (@timecapsule) do |f| %>
  <div class="newmemoryform">
    <%= f.input :name,
     :placeholder => "My favourite sister" %>
    <%= f.submit "Create a timecapsule", class: "btn rounded-pill mt-4" %>
    <div class="form-actions mt-2">
    </div>
     <%= link_to "Back", profile_path, class: "btn rounded-pill" %>
  </div>
<% end %>



<%# flex-box container wrapping the cards and the button %>
<%# timecapsules div class %>
