<h1>Time Capsules</h1>

<div class="add btn btn-primary rounded-pill">
  <%= link_to 'Create', new_timecapsule_path, class: "rounded-pill" %>
</div>

<div class="cards">
  <% @timecapsules.each do |timecapsule| %>
    <div class="card">
      <h2><%= timecapsule.name %></h2>
      <p class="text-center"><%= timecapsule.created_at.strftime("%B %d, %Y") %></p>
      <%= link_to "Check timecapsule", timecapsule_path(timecapsule), class: "my-class" %>
    </div>
  <% end %>
</div>
</div>
