<h1>Profile name</h1>
<div class="container">
  <h2>Scrolling Card UI With Flexbox</h2>
  <div class="">
    <ul class="cards d-flex">
      <% @timecapsules.each do |timecapsule| %>
        <li class="card">
          <div>
            <h3 class="card-title"><%= timecapsule.name %></h3>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="card-link-wrapper">
            <a href="" class="card-link">Click!</a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
