<div class="container justify-content-start align-items-start">
  <h1> <%= @timecapsule.name %> </h1>
  <h2>Memory boxes</h2>
  <div class="d-flex">
    <ul class="timecapsule-cards">
      <% @timecapsule.memoryboxes.all.each do |memorybox| %>
        <li class="timecapsule-card">
          <div>
            <h3 class="card-title"><%= memorybox.title %></h3>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="card-link-wrapper">
            <div class="card-link">
            <%= link_to 'Memories', ownmemories_path(memorybox) %>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="timecapsule-card timecapsule-create-card">
        <%= render "memoryboxes/form", timecapsule: @timecapsule, memorybox:@memorybox %>
    </div>
  </div>
 </div>
