<h1> <%= @timecapsule.name %></h1>
<p>Create your memory box</p>


<%# create the form for a new memorybox %>
<%# link button to go back to the previous page (PROFILE PAGE) %>
<%# link_to ownmemories_path %>
<%# cards %>
