// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-white: #F2F2F2;
$light-grey: #888888;
$highlight-color: #2BD886;
$primary-color: #CCBDF4;
$secondary-color: #80E8B6;
$pale-mauve: #E0D7F8;
$citrus-green: #E9FED5;
$pale-pink: #FFD6F8;
$drop-shadow: rgb(217, 217, 217);
