<div class="main-search-bar">
  <div class="search-bar-filters">
    <div class="fa-solid fa-video media-icon" data-action="click->memory-search#filterVideo"></div>
    <div class="fa-solid fa-camera-retro media-icon" data-action="click->memory-search#filterPhoto"></div>
    <div class="fa-solid fa-microphone media-icon" data-action="click->memory-search#filterAudio"></div>
    <div class="fa-solid fa-envelope-open-text media-icon" data-action="click->memory-search#filterTextMemory"></div>
  </div>
  <%= form_with url: ownmemories_path, method: :get do |f| %>
    <%= f.text_field :query, placeholder: "Search memories", data: {memory_search_target: "input", action: "keyup->memory-search#search"} %>
    <%= f.submit "Search" %>
  <% end %>
</div>
