<div class="text-center">
  <h1>Create a new Memory Box</h1>
  <%= simple_form_for [@timecapsule, @memorybox] do |f| %>
    <div class="form-inputs">
      <%= f.input :title,
      :placeholder => "Dad" %>
    <div class="form-actions mt-4">
      <%= f.button :submit, class: "btn btn-primary rounded-pill mb-4" %>
       </div>
    </div>
  <% end %>
</div>
