<div class="big_div" data-controller="memory-search">
  <div class="info_div">
    <% if @memorybox.present? %>
    <div class="headline highlight d-flex justify-content-between align-items-center">
      <div class="with-bread-crumbs">
        <h1><%= @memorybox.title.capitalize %>'s memorybox</h1>
        <h5 class="bread-crumbs d-flex justify-content-start align-items-center">
        <%= @timecapsule.name.capitalize %> Time Capsule
        </h5>
      </div>
    </div>
      <%= render 'searchbar' %>
    <% else %>
      <h1>You don't have a memory box</h1>
    <% end %>
  </div>
  <div class="memory_list" data-memory-search-target="list">
    <% if @memories.empty? %>
      <h4> You don't have memories in this memorybox 😿😿</h4>
    <% else %>
      <%= render 'memorylist', memories: @memories %>
    <% end %>
  </div>

  <div class="nice_button">
  </div>
</div>
