h1 {
  font-family: $big-header;
}

h2 {
  font-family: $big-header;
  // text-align: center;
  // padding: 2%;
}
.text-center{
  text-align: center;
}

.form-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $text-font;
  flex-direction: column;
  background-color: $primary-color;
  border-radius: 2%;
  padding: 2%;
  margin: 32%;
  margin-top: 3%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  .mb-3 {
    min-width:55vh;
  }
}

.formtitle {
  font-family: $big-header;
  text-align: center;
  margin-top: 2%;
}

.form-actions{
  text-align: center;
  margin: 0 auto;
}

.simple_form.new_user + a + a {
  display: block;
  text-align: center;
  margin: 2%;
  color: $highlight-color;
}

a {
  display: block;
  text-align: center;
  margin: 1%;
  color: $highlight-color;
}
