h1 {
  font-family: $big-header;
}
.text-center{
  text-align: center;
}

.form-inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $text-font;
  flex-direction: column;
  background-color: $primary-color;
  border-radius: 2%;
  padding: 2%;
  margin: 5%;
  margin-top: 5%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);;
}

.btn {
  font-family: $text-font;
  background: $highlight-color;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.3s;
}

.formtitle {
  font-family: $big-header;
  text-align: center;
  margin-top: 2%;
}

.form-actions{
  text-align: center;
}

.simple_form.new_user + a {
  display: block;
  text-align: center;
  margin: 2%;
  color: $highlight-color;
}
