.timecapsule-cards {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto;
  gap: 20px;
  padding: 0 20px;
}

.timecapsule-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.3s;
  width: 300px;
  height: 200px;
  margin-top: 20px;

  &:hover {
    background-color: #f4f4f4;
  }
}

.timecapsule-create-card {
  position: sticky;
  background-color: $pale-mauve;
  top: 0;
  align-self: flex-start;
  display: flex;
  .btn {
    background: $highlight-color;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.3s;
    margin: 0 auto;
  }
}

.form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.3s;
  margin: 0 auto;
  .btn {
    background: $highlight-color;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.3s;
    margin: 6.5px auto 0 auto;
  }

  .login-btn {
    margin-left: 16px;
  }
}

.timecapsule-card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: $primary-color;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.3s;
}

.timecapsule-card:hover .card-link {
  background: $blue;
  transition: background 0.3s;
}

.timecapsule-cards::-webkit-scrollbar-thumb {
  background: $yellow;
}

.card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: $yellow;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.3s;
    a {
      text-decoration: none;
    }
}

.timecapsule-card .card-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  a {
    text-decoration: none;
    color: $gray;
  }
}

.form-inputs-tc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
