<footer>
  <div class="footer-wrapper pb-2">
    <div class="footer-content fcontent-1">
      <div class="main-content">
        <p>Made with
        <span class="d-none">Love</span>
        <i class="fa-solid fa-heart"></i> and
        <span class="d-none">Ruby on </span>Rails.
        </p>
        <p>Built in Lisbon!</p>
      </div>
      <div class="links">
        <p>
          <span><a href="#">Terms of Service</a></span>
          <span> <a href="#">Privacy Policy</a></span>
          <span> <a href="#">FAQ</a></span>
          <span> <a href="#">Cookie Preferences</a></span>
        </p>
      </div>
    </div>
    <div class="footer-content fcontent-2">
      <div class="end-content">
        <p class="follow">Follow us:</p>
        <ul class="connect">
          <li class="twitter"><a href="#"><span class="d-none">Wisdom Capsule on X </span><i class="fa-brands fa-square-x-twitter"></i></a></li>
          <li class="instagram"><a href="#"><span class="d-none">Wisdom Capsule on Instagram </span><i class="fa-brands fa-square-instagram"></i></a></li>
          <li class="github"><a href="#"><span class="d-none">Wisdom Capsule on Github </span><i class="fa-brands fa-square-github"></i></a></li>
        </ul>
        <p class="copyright"><i class="fa-regular fa-copyright"></i> 2024 Wisdom Capsule</p>
      </div>
    </div>
  </div>
</footer>
