<div class="wrapper">
  <div class="content-container">
    <h1>Welcome back, Pheline</h1>
    <div class="timecapsules-container cards-container">
      <h2>Update or add time capsules</h2>
      <a href="#" class="btn btn-primary"><i class="fa-solid fa-square-plus"></i> Add</a>
      <ul class="cards">
        <li class="card">
          <h3>Orpah's time capsule</h3>
          <div class="contributors-container">
            <p>
              <span class="title">Contributors:</span>
              <span class="contributors">Aunty Amina and Popop</span>
            </p>
          </div>
          <a href="#" class="btn btn-success">Update</a>
        </li>
      </ul>
    </div>
    <div class="memoryboxes-container cards-container">
      <h2>Your memory boxes</h2>
      <ul class="cards">
        <li class="card">
          <h3>For Orpah</h3>
          <div class="contents-container">
            <p>Contains:</p>
            <div class="memorybox-contents">
              <span class="memorybox-item"><i class="fa-solid fa-file-lines"></i></span>
              <span class="memorybox-item"><i class="fa-solid fa-file-video"></i></span>
              <span class="memorybox-item"><i class="fa-solid fa-file-image"></i></span>
              <span class="memorybox-item"><i class="fa-solid fa-file-audio"></i></span>
            </div>
          </div>
          <a href="#" class="btn btn-success">View memories</a>
        </li>
      </ul>
    </div>
  </div>
  <footer>
    <div class="main-content">
      <p>Made with <span class="d-none">Love</span><i class="fa-solid fa-heart"></i> and <span class="d-none">Ruby on </span>Rails</p>
      <p>Built in Lisbon!</p>
    </div>
    <div class="links">
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Cookie Preferences</a>
    </div>
    <p class="copyright"><i class="fa-regular fa-copyright"></i> Wisdom Capsule since 2024</p>
  </footer>
</div>
