<div class= "bodypage">
  <div class= "title_card">
    <p class= "big_header"> Wisdom Capsule</p>
  </div>
  <div class= "motto">
    <h1 class= "mottotext">Time flies, memories last !</h1>
  </div>

  <div class= "presentation">
    <strong> Wisdom capsule is a digital and secure way to share memories and pass on wisdom to your loved ones ...</strong>
  </div>
  <%if current_user.present?%>
   <a href="/timecapsules/new" class="button type--B">
    <div class="button__line"></div>
    <div class="button__line"></div>
    <span class="button__text"> Create a timecapsule</span>
    <div class="button__drow1"></div>
    <div class="button__drow2"></div>
  </a>
  <%else%>
<a href="/users/sign_up" class="button type--B">
    <div class="button__line"></div>
    <div class="button__line"></div>
    <span class="button__text"> SIGN UP</span>
    <div class="button__drow1"></div>
    <div class="button__drow2"></div>
  </a>
  <%end%>
  </div>

  <h1 class = "homesecondtitle">Treasures to store in your time capsule ...</h1>
  <div class ="memory_list" id= "exampleshome">
     <div class="memory_card" id= "media-memory-home-page">
     <div class="media_memory"> <%= image_tag("manuel-cosentino-n--CMLApjfI-unsplash.jpg") %></div>
  <div class="title"><h2>Amazing trip to Japan</h2></div>
  <div class="info">
  <div class="media-tag">photo</div>
  <div class="date"><p>11 July 2019</p></div>
  </div>
  <div class="text"><p>If you get a chance, visit Japan, it's a wonderful country !</p></div>
  </div>
  <div class="memory_card" id= "media-memory-home-page">
   <div class="media_memory" ><%= image_tag("9E7F7732-F272-4B1B-90F5-5C7ACEE5F90D.JPG")%></div>
  <div class="title"><h2>Our Wedding day</h2></div>
  <div class="info">
  <div class="media-tag"><p>photo</p></div>
  <div class="date"><p>10 June 2024</p></div>
  </div>
  <div class="text"><p>Always be open to love, it brings wonderful things, like you ...</p></div>
  </div>
    <div class="memory_card" id= "media-memory-home-page">
     <div class="media_memory"> <%= image_tag("anastasiia-chepinska-LrQTzfjH_PU-unsplash.jpg") %></div>
  <div class="title"><h2>First christmas</h2></div>
  <div class="info">
  <div class="media-tag"><p>photo</p></div>
  <div class="date"><p>24 December 2023</p></div>
  </div>
  <div class="text"><p>Family time is always precious, enjoy it (especially if it involves a santa's costume)</p></div>
  </div>
  </div>
