<div class = "bodypage">
<div class = "title_card">
  <p class = "big_header"> Wisdom Capsule</p>
  </div>
  <div class = "motto">
    <h1 class = "mottotext">Time flies, memories last !</h1>
  </div>
<%# <div>
  <button>
    <%= link_to "Create an account", new_user_registration_path, class: "signup"%>
  <%# </button>
</div> %>
<div class = "presentation"> <strong> Wisdom capsule is a digital and secure way to share memories and pass on wisdom to your loved ones ...</strong></div>
 </a>
    <a href="/users/sign_up" class="button type--B">
    <div class="button__line"></div>
    <div class="button__line"></div>
    <span class="button__text"> SIGN UP</span>
    <div class="button__drow1"></div>
    <div class="button__drow2"></div>
  </a>
</div>
