.nice_button{
  text-decoration: none;
  font-family: Spicy Rice;
  transition-duration: 0.2s;
  position:absolute;
  top: 120px;
  right: 0;
  margin: 10px;
  margin-right: 40px;
}

.remove_button_audio{
  text-decoration: none;
  font-family: Spicy Rice;
  transition-duration: 0.2s;
  position: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.remove_button_video{
  text-decoration: none;
  font-family: Spicy Rice;
  transition-duration: 0.2s;
  position: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.remove_button_image{
  text-decoration: none;
  font-family: Spicy Rice;
  transition-duration: 0.2s;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
}

.btn {
  font-family: $text-font;
  background: $highlight-color;
  transition: background 0.3s;
}

.btn-primary {
  background-color: $primary-color;
}

.btn-secondary {
  background-color: $pale-mauve;
}

.btn-aubergine {
  background-color: $aubergine;
}

.btn:hover{
  color: white;
  border-color: #80bff6;
}

.btn-aubergine:hover{
  color: $aubergine;
  background-color: $pale-mauve;
}
.remove_button_audio{
  text-decoration: none;
  font-family: Spicy Rice;
  transition-duration: 0.2s;
  position: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.remove_button_video{
  text-decoration: none;
  font-family: Spicy Rice;
  transition-duration: 0.2s;
  position: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.remove_button_image{
  text-decoration: none;
  font-family: Spicy Rice;
  transition-duration: 0.2s;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.cancel-account-button {
  background-color: #888888;
  margin-top: 5px;
  margin-bottom: 5px;
}
