.memory_card{
  flex: 0 1 calc(25% - 20px); /* 25% width minus the total horizontal margin */
  margin: 10px;
  background-color: #dcdcdc;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;

}

.memory_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;}

.big_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;;
}

.info_div {
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
}

.media_memory {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
  overflow: hidden;
  background-color: #000; /* Fallback background color */
}


.media_memory img,
.media_memory video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media_memory audio {
  width: 100%;
}




// border: 1px solid #ddd;
// border-radius: 4px;
// overflow: hidden;
// display: flex;
// flex-wrap: wrap;
// gap: 16px;
// flex-direction: column;
// flex: 0 0 100%;
// padding: 20px;
// background: #E0D7F8;
// box-shadow: 0 5px 15px black;
// scroll-snap-align: start;
// transition: all 0.3s;
