.title{
  text-align: left;
}

.text{
  text-align: left;
}

.date{
  text-align: center;
  fill: #F2F2F2;
  color: #888888;
  font-family: Lato;
  font-weight: 500px;
  font-size: 12px;
}

.media-tag{
  text-align: left;
  font-family: Lato;
  font-weight: 500px;
  font-size: 12px;
  border-radius: 4px;
  color: #000000;
}

.info{
  display: flex;
  direction: inline;
  justify-content: space-between;
}
